    .about {
        padding: 25px 20px;
        background: black;
    }  

    .about__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 700px;
        padding: 30px 0px 20px;
        width: 90%;
        margin: 0 auto;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
    }

    .about__container > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    p {
        font-family: Trajan Pro;
        color: #fff;
        font-size: 20px;
        margin-top: 10px;
    }

    .about__container > img {
        max-width: 100%;
        height: auto;
    }

    .about__image {
        max-width: 100%;
        height: auto;
        place-self: center;
    }

    .about__text{
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        color: #fff;
    }

    .about__detail{
        font-family: Trajan Pro;
        margin: 20px 0px;
    }
    
    .about__detail > h1{
        font-family: Trajan Pro;
        display: inline-block;
    }
    
    .about__detail > p{
        font-family: Roboto;
        display: none;
    }

    .about__visi_misi{
        font-family: Trajan Pro;
        font-size: 30px;
        border-bottom: 1px solid white;
    }

    .player-wrapper {
        position: relative;
        padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
    }

    .about__video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        color: #fff;
        padding: 50px;
        padding-bottom: 0px;
    }

    .about__sertifikat{
        text-align: center;
        font-family: Trajan Pro;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 30px;
        border-bottom: 1px solid white;
    }

    .about__video > .about__detail {
        margin: 30px 0px;
    }
      
    .react-player {
        position: absolute;
        top: 0;
        left: 0;
    }

    @media screen and (max-width: 960px) {
        .about__video {        
            grid-template-columns: none;
            padding: 40px 20px 0px;
        }

        .about__text{
            text-align: left;
        }
    
        .about__detail > p{
            font-size: 16px;
            margin-left: 5px;
            display: inline-block;
        }

        #detail__more1, #detail__more2{
            display: none;
        }
    }